<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/images/pexels-wilson-vitorino-2345975.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/images/pexels-dayvison-de-oliveira-silva-5696558.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/images/pexels-donald-tong-2205270.jpg" />
    </ion-slide>
  </ion-slides>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>
          Menu
        </h2>
        <p>Made in here and made for here</p>
      </ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/images/pexels-wilson-vitorino-2345975.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h3>Breakfast</h3>
        <ion-text color="medium">
          <p>
            Start your day with our breakfast
          </p>
        </ion-text>
        <p>$12.33</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="assets/images/pexels-dayvison-de-oliveira-silva-5696558.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h3>Taco di Vancouver</h3>
        <p>Customized all in one taco</p>
        <p>$16.75</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
